mz/target
mz/frontend/wasm-bindgen*
mz/frontend/archive/
mz/frontend/binaryen/
mz/public/contents/
mz/frontend/**/pkg
mz/MoonZoonCustom.toml
mz/frontend_dist/
.DS_Store
.env
frontend/archive

.astro/
.cache/
dist/
node_modules/
