mz/target
mzfrontend/wasm-bindgen*
mz/frontend/binaryen/
mz/frontend/**/pkg
mz/MoonZoonCustom.toml
mz/frontend_dist/
.DS_Store
.env
frontend/archive

node_modules/
elm-stuff/
dist/
.cache/
gen/
.elm-pages
functions/server-render
functions/render
